<div class="menu">
  <ul>
    <li><%= link_to Persona.model_name.human(count: 0), personas_path %></li>
    <li><%= link_to Mensaje.model_name.human(count: 0), mensajes_path %></li>
  </ul>

  <div class="salir">
    <%= link_to t('navigation.exit'), sesion_path, method: :delete %>
  </div>
</div>
