<h2 class="text-muted"><%= t 'personas.edit.title' %></h2>

<%= render 'form' %>

<div class="pull-right">
  <%= link_to t('navigation.show'), @persona %> |
  <%= link_to t('navigation.back'), personas_path %>
</div>
