<h2 class="text-muted"><%= t 'mensajes.edit.title' %></h2>

<%= render 'form' %>

<div class="pull-right">
  <%= link_to t('navigation.show'), @mensaje %> |
  <%= link_to t('navigation.back'), mensajes_path %>
</div>
