<p>
  <span class="glyphicon glyphicon-arrow-right"></span>
  <%= @mensaje.persona %>
</p>

<blockquote>
  <%= simple_format @mensaje.cuerpo %>
</blockquote>


<%= link_to t('navigation.edit'), edit_mensaje_path(@mensaje) %> |
<%= link_to t('navigation.back'), mensajes_path %>
